extends layout

block content
  h1= title
  p Welcome !! this site can search data  and save and process
  button(type="button",target="_blank", onclick="test()") daily price
  button(type="button",target="_blank", onclick="csv()") csv
  button(type="button",target="_blank", onclick="getToken()") token trade
  button(type="button",target="_blank", onclick="aggregate()") Aggregate
